.App {
background-color: blueviolet;
  display: flex;
  justify-content: center;
  height: 100vh;

  }

.settingWindow {
  width: 200px;
  height: 100px;

  border: 2px solid green;
  align-items: center;
  justify-content: center;
  background-color: darkslateblue;
}


.counterArea {
  width: 200px;
  height: 200px;
  align-items: center;
  padding: 20px;
}

.numberWindow {
  width: 200px;
  height: 100px;
  display: flex;
  border: 2px solid green;
  align-items: center;
  justify-content: center;
  background-color: darkslateblue;
}

.buttonWindow {
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid green;
  background-color: darkslateblue;
  justify-content: space-around;
}





.InpClassDisable {
  /*background-color: yellow;*/
  color: red;
  font-size: 50px;
  }

.InpClassEnable {
  /*background-color: yellowgreen;*/
  color: yellowgreen;
  font-size: 50px;
}

input{
  width:100px;
}
.setting {
  color: yellow;
  font-size: 12px;
}



.IncBtnClassEnable {
  color: green;
  border-radius: 3px;
}
.IncBtnClassDisable {
  color: red;
  border-radius: 3px;
}

.ResetBtnClassEnable {
  color: green;
  border-radius: 3px;
}

.ResetBtnClassDisable {
  color: red;
  border-radius: 3px;
}







